.rectangle {
  background-color: var(--color-dodgerblue);
}
.placeholder,
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.button {
  position: absolute;
  top: calc(50% - 12px);
  left: 23.96%;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.buttonsmallstandart {
  width: 96px;
  height: 40px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--ffffff);
  font-family: var(--font-jost);
}
