.heroChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 1438.76px;
  height: 649.44px;
  object-fit: cover;
}
.recycleShop {
  top: 149.87px;
  left: 358.69px;
  line-height: 67.94px;
  font-family: var(--font-roboto);
  width: 703.39px;
  height: 135.88px;
}
.purchaseProduct,
.recycleShop,
.recycleShop1 {
  position: absolute;
  display: inline-block;
}
.recycleShop1 {
  top: 286px;
  left: 346.7px;
  font-size: 21.98px;
  letter-spacing: 0.03em;
  line-height: 34.97px;
  width: 746.36px;
  height: 82.93px;
}
.purchaseProduct {
  top: 14.99px;
  left: 42.96px;
  font-weight: 500;
  width: 138.88px;
  height: 19.98px;
}
.button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.99px;
  background-color: var(--color-seagreen);
  width: 224.81px;
  height: 49.96px;
  overflow: hidden;
}
.startSelling {
  position: absolute;
  top: 14.99px;
  left: 63.95px;
  font-weight: 500;
  display: inline-block;
  width: 97.92px;
  height: 19.98px;
}
.button1,
.buttonParent {
  position: absolute;
  height: 49.96px;
}
.button1 {
  top: 0;
  left: 263.77px;
  border-radius: 7.99px;
  background-color: var(--ffffff);
  width: 224.81px;
  overflow: hidden;
  color: var(--color-seagreen);
}
.buttonParent {
  top: 409.65px;
  left: 475.59px;
  width: 488.58px;
  text-align: left;
  font-size: 15.99px;
}
.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 1438.76px;
  height: 649.44px;
  text-align: center;
  font-size: var(--font-size-34xl);
  color: var(--ffffff);
  font-family: var(--font-outfit);
}
