.profileChild,
.vectorIcon {
  position: absolute;
  height: 92.79%;
  width: 34.9%;
  top: 7.21%;
  right: 0;
  bottom: 0;
  left: 65.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon {
  height: 2.15%;
  width: 0.97%;
  top: 4.49%;
  right: 5.42%;
  bottom: 93.36%;
  left: 93.61%;
}
.profileItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 336.77px;
  object-fit: cover;
}
.medalStatTile {
  position: absolute;
  top: calc(50% + 42.85px);
  left: calc(50% - 500.12px);
  border-radius: 6.19px;
  box-shadow: -0.5723810791969299px -0.5723810791969299px 7.44px #fafbff,
    1.1447621583938599px 1.1447621583938599px 8.59px rgba(166, 171, 189, 0.5);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.lastEventsParticipated {
  position: absolute;
  top: 397px;
  left: 562px;
  font-weight: 600;
  color: var(--color-black);
}
.eventsChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 245px;
  height: 300px;
  object-fit: cover;
}
.eventsItem {
  position: absolute;
  top: 242.3px;
  left: 59px;
  border-radius: 53.31px;
  background-color: var(--color-dimgray-100);
  border: 1.1px solid var(--ffffff);
  box-sizing: border-box;
  width: 131.13px;
  height: 34.12px;
}
.participated {
  position: absolute;
  top: 248.7px;
  left: 75px;
  font-size: 18.12px;
  font-weight: 500;
  font-family: var(--font-roboto);
}
.davPublicSchool,
.interested21,
.sep2023 {
  position: absolute;
  top: 166px;
  left: 73.4px;
  text-transform: uppercase;
}
.davPublicSchool,
.interested21 {
  top: 189.9px;
  left: 27.14px;
}
.interested21 {
  top: 214.83px;
  left: 52.23px;
  font-size: 10.56px;
}
.events {
  position: absolute;
  top: 468px;
  left: 562px;
  width: 245px;
  height: 300px;
  font-size: 18.47px;
  font-family: var(--font-outfit);
}
.yourSustainableProfile {
  position: absolute;
  top: 100px;
  left: 368px;
  font-size: var(--font-size-34xl);
  line-height: 67.94px;
  display: inline-block;
  font-family: var(--font-roboto);
  text-align: center;
  color: #fafbff;
  width: 703.39px;
  height: 135.88px;
}
.profile {
  position: relative;
  background-color: var(--ffffff);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 18.19px;
  font-family: var(--font-inter);
}
